#Ignore the logs directory
logs/
log/
artifacts/
better_mistakes/
ckpt/
data/
mlruns/
saved_models/
cluster_dataset/

#Ignoring the files

#Ignoring git and cache folders
.git
.cache

#Ignoring all the markdown and class files
*.png
*.md
*.db
*.sqlite
*.yaml
*.pkl
val*

**/*.class